body{
	font: 78% "Trebuchet MS", sans-serif;
  color: #222222;
	margin: 0 auto;
	background-color:#efefef;
	background-image: url(../images/body_bg.png);
	background-position: top;
	background-repeat: repeat-x;
}

#head {
  height: 82px;
  margin-left: auto;
  margin-right: auto;
  background:  url('../images/head_bg2.png') center top no-repeat;
}

#head a.logo {
  display: block;
  width: 148px;
  height: 58px;
  position: absolute;
  margin-left: 43px;
  margin-top: 11px;
}

#head ul#login-button {
  float: right;
  margin-right: 20px;
  margin-top: 20px;
}

#head ul#top-menu {
 position: absolute;
 margin-left: 240px;
 margin-top: 20px;
}

#head ul#top-menu li {
 display: inline;
}


#content {
  margin-left: auto;
  margin-right: auto;
  background: url('../images/content_bg.png') center top repeat-y;
  width: 1135px;
}

#wrapper {
  width: 1090px;
  min-height: 400px;
  padding-left: 20px;
  padding-top: 15px;
}

#footer {
  background: url('../images/foot_bg2.png') center top no-repeat;
  height: 20px;
}



.center {
  width: 100%;
  text-align: center;
}

.left {
  width: 100%;
  text-align: left;
}


a.fg-button, span.fg-button {
  text-decoration: none;
  position: relative; 
  font-size: 1em;
  text-shadow: 1px 1px 0 #ccc; 
  font-weight: bold; color: #1c94c4;
}

a.fg-btn-small, span.fg-btn-small {
  text-decoration: none;
  position: relative; 
  font-size: 0.95em;
  text-shadow: 1px 1px 0 #ccc; 
  font-weight: bold; color: #1c94c4;
}

h1, h2, h3 {
  text-align: left;
}

h1 
{
  font-weight: bold;
  line-height: 200%;
  font-size: 180%;
  color: #1C94C4;
  
}

p
{
  padding-bottom: 10px;
}

th
{
  padding: 0px 5px 0px 5px;
}

td
{
  padding: 3px 5px 3px 5px;
}

.right-box 
{
  margin-right: 200px;
  float: right;
}

.box {
  padding: 10px;
  width: 400px;
}

#flash-notice {
  padding: 10px 0px 0px 15px;
  font-size: 130%;
  background: #EAF4FD;
  border-color: #C5DBEC;
  color: #1C94C4;
  font-weight: bold;
}

