<div class="box fullwidth left">
  <p>
    <%= link_to_with_icon('plus',t('Add user') ,{:action => :new}, :class=>"fg-button  to-btn") %>
  </p>
  <table>
    <tr>
      <td><b>Login</b>:</td>
      <td><%= @user.login %></td>
    </tr>
  </table>
</div>
