<h1><%= t('Listing roles') %></h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @roles.each do |role| %>
  <tr>
    <td><%=h role.name %></td>
    <td>
    </td>
  </tr>
<% end %>
</table>

<br />
<p>
<%= link_to_with_icon('plus',t('Add role') ,{:action => :new}, :class =>"fg-button  to-btn") %>
</p>
<%= link_to t('Back to users'), users_path, :class => "fg-button  to-btn" %>
